<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25400762250-alu1o0hspg1o487pmggr0qrfgbsp574c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25400762250-alu1o0hspg1o487pmggr0qrfgbsp574c</string>
	<key>API_KEY</key>
	<string>AIzaSyAkBrvD3sX9LavrNAq_oTb3BDm9Ft4j3CY</string>
	<key>GCM_SENDER_ID</key>
	<string>25400762250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KiarraVillaraza.SwiftCamera</string>
	<key>PROJECT_ID</key>
	<string>swift-camera</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-camera.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25400762250:ios:e4511d47bf6fc1c525f273</string>
</dict>
</plist>